.topimage,
.topagents {
  background-image: url(../images/image-agents.jpg);
  height: 40vh;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.2);
  text-align: center;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 200;
  font-size: 2rem;
}

hr {
  width: 150px;
  background-color: rgb(250, 218, 35);
  height: 2px;
  margin: 0 auto;
  outline: 0;
  border: 0;
}

.topagents hr {
  margin-top: 10px;
  width: 150px;
}

.topagents h2 {
  color: white;
  font-size: 3rem;
}

.agents {
  width: 60vw;
  margin: 20px auto;
  box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.75);
  background-color: white;
}

.agents > h2 {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.agent {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}

.agent > img {
  width: 150px;
  border-radius: 50%;
}

.agent .agent__details {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}
.agent .agent__details i {
  color: #bb1e1e;
}

@media (max-width: 796px) {
  .agents {
    width: 80vw;
  }
  .agent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .agent .agent__details {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .agent > img {
    width: 100px;
    margin-bottom: 10px;
  }
}
