@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.agents {
  margin-top: 20px;
}

.agents > h2 {
  font-weight: 400;
  font-size: 3rem;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.agent {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #ddd;
}

.agent > img {
  width: 150px;
  border-radius: 50%;
}

.agent .agent__details {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}
.agent .agent__details i {
  color: #bb1e1e;
}

@media (max-width: 796px) {
  .agent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .agent .agent__details {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  .agent > img {
    width: 100px;
    margin-bottom: 10px;
  }
}
