.paginationButton {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  border: 1px solid #ccc;
  outline: none;
}

.paginationButton:hover {
  background-color: #ddd;
}

.pagination {
  display: flex;
}
