.topimage,
.topsell {
  background-image: url(../images/image-sell.jpg);
  height: 40vh;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.2);
  text-align: center;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 200;
}

.sell__header {
  color: white !important;
  font-size: 3rem;
}

.sell_with {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 20px 0;
}

hr {
  width: 250px;
  background-color: rgb(250, 218, 35);
  height: 2px;
  margin: 50px auto 50px auto;
  outline: 0;
  border: 0;
}

.sellsFirstD {
  margin: 80px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.75);
  height: 400px;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
}
.message {
  margin-bottom: 20px;
  color: red;
  font-weight: 600;
}

.alternative {
  margin-left: auto;
  padding-right: 60px;
  padding-top: 5px;
  color: orange;
  cursor: pointer;
}
.sells__left {
  display: flex;
  flex: 0.5;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: space-between;
}

.sells__left h2 {
  margin-bottom: 10px;
}

.sells__right {
  flex: 0.5;
  width: 50%;
}

.sell_discover {
  margin-left: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.sell_form,
.valueForm {
  display: flex;

  background-color: #ffffff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  height: 55px;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 1px rgba(50, 50, 50, 0.75);
}

.valueSearch {
  width: 80%;
  height: 55px;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  padding: 0 10px;
}

.sell_button {
  height: 100%;
  width: fit-content;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  background-color: rgb(250, 218, 35);
  border-radius: 5px;
  border: 0;
  outline: 0;
}

.sell_search {
  border: none;
  width: 72%;
  font-size: 1.2rem;
  margin-left: 5px;
}

.sellsAgent {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  margin: 80px;
  border-radius: 5px;
}

.sellsAgent h2 {
  font-size: 1.4rem !important;
}

.sell_withA {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 3px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 3px 1px rgba(50, 50, 50, 0.75);
  background-color: white;
}
.dansagent__img {
  width: 50%;
}

.danAgent {
  padding: 50px 20px;
  width: 50%;
  display: grid;
  place-items: center;
}
.dansagent__button {
  height: 40px;
  width: 50%;
  margin: 0 auto;
}
.dans {
  width: 100%;
}

.sell_yours {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 3px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 3px 1px rgba(50, 50, 50, 0.75);
  width: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  padding: 0 10px;
}

.sell_yours h2,
.sell_yours p {
  margin-bottom: 15px;
  text-align: center;
}

.sell_value,
.sell_acquaint {
  display: flex;
  justify-content: space-evenly;
  width: 88%;
  margin: 80px auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 1px 1px rgba(50, 50, 50, 0.75);
  font-size: 1.2rem;
  background-color: white;
}

.sell_acquaint {
  margin-bottom: 50px;
  padding: 50px;
  display: flex;
  align-items: center;
}

.dans__thumb {
  width: 150px;
  height: 150px;
}

.sell_timing div i {
  color: #bb1e1e;
}

.sell_get {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 70%;
  padding: 20px 10px;
}

/* @media (max-width: 1100px) {
  .sellsFirstD {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    margin-bottom: 300px;
  }
} */

@media (max-width: 768px) {
  .topimage,
  .topsell {
    height: fit-content;
  }

  .sellsFirstD,
  .sellsAgent {
    margin: 20px;
  }

  .sellsAgent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sell_withA,
  .sell_yours {
    width: 100%;
  }

  .sell_yours {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 40px 0;
  }
  .dansagent__button {
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .sellsFirstD,
  .sellsAgent {
    flex-direction: column-reverse;
    height: fit-content;
    width: fit-content;
    padding-bottom: 10px;
  }
  .sells__left {
    flex: 1;
    width: 100%;
  }

  .sellsAgent {
    flex-direction: column;
  }

  .sell_withA {
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dansagent__img,
  .danAgent {
    width: 100%;
  }

  .sells__right {
    width: 100%;
  }

  .sellsAgent {
    justify-content: center;
    align-items: center;
  }

  .sell_yours {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 40px 0;
    text-align: center;
  }
  .dansagent__button {
    margin-top: 10px;
  }

  .sell_value,
  .sell_acquaint {
    flex-direction: column;
  }
  .sell_get {
    width: 100%;
    padding: inherit 0;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
