* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darker-hue: #213e3b;
  --semidark-hue: rgb(250, 218, 35);
  --light-hue: #ffbb91;
  --lighter-hue: #faf3dd;
  --brand-hue: #bb4c4c;
}

body {
  background: #f9f9fb;
}

.fa-facebook {
  color: #3b5998 !important;
}

.fa-twitter,
.fa-twitter-square {
  color: #55acee !important;
}

.button__color {
  background-color: blue;
}
